.linha{
  display: flex;
  flex-flow: row wrap;
}

.form{
  display: flex;
  flex-direction: column;
  background-color:#9C9FAC ;
  align-items: center;
  color: #ffffff;
  
}

.m5{
  margin-bottom: 5px;
  border: 1px solid;
  border-radius: 5px;
}

.m5 > input[type=text]:focus{
  border: 3px solid #000000;
}

.column{
  width: 50%;
  height: 450px;
}

.column > div {
  height:50%
}

.table-structure{
  padding-inline-start: 20%;
}

.styled-table {
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 0.9em;
  min-width: 450px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: left;
}

.styled-table thead tr {
  background-color: #030D54;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 5px 7px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #030D54;
}


